.App {
  background-color: var(--main-color0);
  width: 20rem;
  margin: auto;
  
  display: flex;
  flex-direction: column;

  overflow: hidden;
  border-radius: 0.4rem;

  backdrop-filter: blur(4rem);
}

/* display */
#display {
  padding: 1rem;
  padding-bottom: 0;
}

#display-content {
  width: 100%;
  font-size: 2rem;
  overflow: hidden;
  text-overflow: ellipsis; 
  color: var(--text-color2);
  text-align: right;
  margin: 1rem 0 0.6rem 0;
}

#display-calc {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color3);
  text-align: right;
  height: max-content;
  margin: auto 0;
  font-size: 1.1rem;
}

#window-handle {
  display: grid;
  grid-template-columns: repeat(3, min-content) auto;
}


/* keyboard */
#keyboard {
  padding: 0.2rem;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1fr);

  height: 22rem;
}